BODY{font-weight : normal;background-color : black;}
TABLE{font-size : 12px;border-width : 1pt 0pt 0pt 1pt;border-style : solid solid solid solid;}
TD{background : #303058;border-style : solid; border-width : 0px 1px 1px 0px;font-family : "ＭＳ 明朝";color : white;padding : 2px 4px 2px 4px;vertical-align : top;}
TH{background : #a39cf5;border-style : solid; border-width : 0px 1px 1px 0px;font-family : "ＭＳ 明朝";color : white;padding : 1px 4px 1px 4px;}
A:LINK{color : white;}
A:VISITED{color : white;}
.t1{border-width : 0px 0px 1px 0px;}