* {
	font : normal normal 100%/130% sans-serif;
	color : #222;
	margin : 0;
	padding : 0;
	border : 0;
}

a:link,
a:visited,
a:active {
	color : #0089ff;
}

a:hover {
	color : #b1b5ff;
}

h1 {
	font : normal bold 130% sans-serif;
	color : #fff;
	background-color : #ff6600;
	margin : 15px 0;
	padding : 15px 0;
	border-top : 4px solid #333333;
	border-bottom : 4px solid #333333;
	text-align : center;
}

h2 {
	margin-left : 15px;
	padding-bottom : 15px;
	border-top : 6px solid #cccccc;
	border-left : 6px solid #cccccc;
	border-right : 6px solid #cccccc;
	color : #333333;
	font-size : 180%;
	font-weight : bold;
	text-align : center;
	background : url( back.png );
}

h3 {
	margin : 1em 0;
	font-weight : bold;
}

p {
	margin : 1em 0;
	letter-spacing : 2px;
	line-height : 150%;
}

ul {
	margin : 1em 0;
	list-style-type : none;
}

ul li {
	padding-left: 15px;
	background : transparent url(side_mark1.png) no-repeat scroll left center;
}

.karen {
	background : #ddf;
}
.ogiwara {
	background : #dfd;
}



div div dl {
	margin-left : 15px;
	margin-bottom : 30px;
	padding : 0 15px;
	border-left : 6px solid #cccccc;
	border-right : 6px solid #cccccc;
	border-bottom : 6px solid #cccccc;
	background : url( back.png );
}

div div dl dd {
	padding : 1px 0;
}

div div dl dt {
	color : #ff6600;
	font-weight : bold;
	border-bottom : 4px solid #ff6600;
}


/* table */

table {
	border : 6px solid #cccccc;
	margin : 1em 0;
	background-color : #ffffff;
	font-size : 90%;
}

table th {
	color : #ffffff;
	background-color : #ff6600;
	line-height : 100%;
	padding : 2px;
}

table td {
	color : #000000;
	background-color : #eeeeee;
	line-height : 100%;
	padding : 2px;
}

table caption {
	text-align : left;
	font : normal bold 90%;
	padding : 4em 0 1em 0;
}

.col1	th	{ width : 1.5em; };
.col2	th	{ width : 2.5em; };
.col3	th	{ width : 3.5em; };

.hint {
	border-bottom : 1px dotted #666666;
	cursor : help;
}








#wrapper { width : 100%; }

#content {
	float : left;
	margin-right : -220px;
	width : 100%;
}

#content h2,
#content dl {
	margin-right : 235px;
}

#sidebar {
	float : right;
	width : 220px;
	font-size : 90%;
	margin-top : -15px;
}

dl#sidebar dt {
	border-top : 3px solid #333;
	border-bottom : 3px solid #333;
	border-left : 3px solid #333;
	padding : 2px 0 2px 4px;
	margin-top : 15px;
	font-weight : bold;
}

dl#sidebar dd a:link,
dl#sidebar dd a:visited,
dl#sidebar dd a:active {
	margin-left : 15px;
	display : block;
	padding-left: 15px;
	background : transparent url(side_mark1.png) no-repeat scroll left center;
}

dl#sidebar dd.active,
dl#sidebar dd a:hover {
	margin-left : 15px;
	display : block;
	padding-left: 15px;
	background : transparent url(side_mark2.png) no-repeat scroll left center;
}

dl#sidebar dd.active {
	font-weight : bold;
}


#footer {
	clear : both;
	padding : 15px;
	margin-top : 15px;
	border-top : 4px solid #333;
}

#footer li {
	display : inline;
	margin-right : 15px;
}

#script {
	display : none;
}